doctype html
head
  title= 'Catan | Game'
  link(rel='icon' type='image/png' href='/images/icon.png')
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css', integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4', crossorigin='anonymous')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js", integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm", crossorigin="anonymous")
  script(src='/socket.io/socket.io.js')
  script(src='https://code.jquery.com/jquery-1.11.1.js')
  link(rel='stylesheet', href='/stylesheets/game.css')
  script(type='text/javascript', src='/scripts/d6.js')
  script(type='text/javascript', src='/scripts/board.js')
  script(type='text/javascript', src='/scripts/helper.js')
body
  input#gameId(type='hidden', value=game.id)

  .row.justify-content-between
    .col.col-2
      .row-5
        ul#messages
        form.message(method='post' action=`/chat/game`)
          input#m.form-control(autocomplete='off', placeholder='Enter your message')
          input#user(type="hidden", name="postid", value=user)
      .row-5.actions
        ul#myTab.nav.nav-tabs(role='tablist')
          li.nav-item
            a#build-tab.nav-link.active(data-toggle='tab', href='#build', role='tab', aria-controls='build', aria-selected='true') Build
          li.nav-item
            a#trade-tab.nav-link(data-toggle='tab', href='#trade', role='tab', aria-controls='trade', aria-selected='false') Trade
        #myTabContent.tab-content
          #build.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='build-tab')
            button.btn.btn-primary.buildbtn Build Road
            each val in ["wood", "brick"]
              img(src='/images/resources/' + val + '.png')

            button.btn.btn-primary.buildbtn Build Settlement
            each val in ["wood", "brick", "sheep", "wheat"]
              img(src='/images/resources/' + val + '.png')

            button.btn.btn-primary.buildbtn Build City
            each val in ["wheat", "wheat", "ore", "ore", "ore"]
              img(src='/images/resources/' + val + '.png')

            button.btn.btn-primary.buildbtn Build Development Card
            each val in ["sheep", "wheat",  "ore"]
              img(src='/images/resources/' + val + '.png')

          #trade.tab-pane.fade.show(role='tabpanel', aria-labelledby='trade-tab')
            ul#tradeTab.nav.nav-tabs(role='tablist')
              li.nav-item
                a#build-tab.nav-link.active(data-toggle='tab', href='#interplayer', role='tab', aria-controls='interplayer', aria-selected='true') InterPlayer
              li.nav-item
                a#build-tab.nav-link(data-toggle='tab', href='#bank', role='tab', aria-controls='bank', aria-selected='true') Bank
            #tradeTabContent.tab-content
              #interplayer.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='interplayer-tab')
                p Offering
                each val in  ["wood", "brick", "sheep", "wheat", "ore"]
                  input#image(class="inc button", type ="image" ,src="/images/resources/" + val +".png", value="0")
                p Recieving
                each val in ["wood", "brick", "sheep", "wheat", "ore"]
                  input#image(class="inc button", type ="image" ,src="/images/resources/" + val +".png", value="0")
                button.btn.btn-primary.buildbtn Trade
              #bank.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='bank-tab')
                p Offering
                each val in ["wood", "brick", "sheep", "wheat", "ore"]
                  input#image(class="inc button", type ="image" ,src="/images/resources/" + val +".png", value="0")
                p Recieving
                each val in  ["wood", "brick", "sheep", "wheat", "ore"]
                  input#image(class="inc button", type ="image" ,src="/images/resources/" + val +".png", value="0")
                button.btn.btn-primary.buildbtn Trade
    .col.col-8
      .d-flex.flex-column
        .board
          #gbord
            img.ocean(src='/images/tiles/ocean.png')
            #display
              each tile, index in tiles
                span.tile(data-prob=tile.die_number, data-type=tile.resource_type)         
              each vertex in vertices 
                span.vertex(data-x=vertex.x, data-y=vertex.y, data-owner=vertex.user_id, data-item=vertex.item)
              .roads
                each edge in edges
                  span.edge(data-x=edge.x_start, data-y=edge.y_start, data-owner=edge.user_id, data-item=edge.road )
    .col.col-2
      .row-sm-3
        each player in playerInfo
          .row.playercards
            h3= player.username
            .playerStats
              img(src='/images/cards.png')
              h6= player.resource_count
              img(src='/images/devcards.png')
              h6= player.card_count
              h6 Victory Points:

      .row-sm-3.cards
        h5 Resources
        each val in ["brick", "wood",  "ore","wheat", "sheep" ]
            .resource
              img(src='/images/resources/' + val + '.png')
        .count
          each resource in playerResources
            p= resource.count    

        h5 Development Cards
        each val in ["knight",  "monopoly", "plenty",  "roadbuilding", "victorypoint" ]
            .resource
              img(src='/images/devcards/' + val + '.png')
      .row-sm-3
        script.
          function attack(result) {
          alert('You rolled ' + result + '!');
          }
          D6.dice(2, attack);

        input(type='button', value='End Turn', onclick='D6.roll()')

  script(src="/scripts/game.js")
  
